
<!-- HPAPI-DBA DISPLAY TABLE -->
      <form id="hpapi-dba-form">
        <h1>{{heading}}</h1>
        <table id="hpapi-dba-row">
          <thead>
            <tr>
            </tr>
          </thead>
        </table>
      </form>
